.pane{
    -fx-background-image: url("Images/Final-Background.jpg");
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.label{
    -fx-font-size: 18pt;
    -fx-font-family: "Courier New";
}